body{
  margin-top: 106px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color:#66D0FF;
  margin-left: 0;
}

.portfolio-button{
  margin: 10px;
  margin-top: 10%;
  margin-bottom: 5%;
  border:none;
  background-color: rgb(32, 83, 250);
  border-radius: 20px;
  padding: 20px;  
}

.link-text{
  color: rgb(255, 255, 255);
  text-decoration: none;
}

#owl {
  margin-left: 225px;
  max-width: 500px;
}

#owl-head > div{
  z-index: 900;
  width: 100px;
  top: 120px;
  aspect-ratio: 1;
  background: 
  radial-gradient(12% 22% at 50% 91%,#f48d02 99%,#0000) 50% 20%/80% 50%,
  radial-gradient(21% 40% at 100% 10%,#f48d02 99%,#0000) 0% 100%/51% 45%,
  radial-gradient(20% 40% at 0% 10%,#f48d02 99%,#0000) 100% 100%/50% 45%,
  radial-gradient(30% 40%, hsl(57, 100%, 91%) 99%, rgb(0, 0, 0, 0)),
  radial-gradient(45% 50%, rgb(165, 108, 42) 99%, rgb(0, 0, 0, 0)),
  radial-gradient(50% 50%, rgb(150, 95, 20) 99%, rgb(0, 0, 0, 0));
  background-repeat: no-repeat;
  position: absolute;
}



#owl-head > div:before, 
#owl-head > div:after {
  content: "";
  position: absolute;
  top: 20px;
  left: 10px;
  background:    
  radial-gradient(10% 10%, rgb(255, 255, 255) 80%, rgb(0, 0, 0, 0)) 90% 0%/60% 60% no-repeat,
  radial-gradient(50% 50%, #ffffff 80%, rgb(0, 0, 0, 0))  30% 70%/20% 20% no-repeat,
  radial-gradient(30% 30%, #35251d 98%, rgb(0, 0, 0, 0)),
  radial-gradient(36% 36%, #81674c 98%, rgb(0, 0, 0, 0)),
  radial-gradient(40% 40%, #35251d 98%, rgb(0, 0, 0, 0)),
  radial-gradient(50% 50%, #fcd12a 99%, rgb(0, 0, 0, 0));
  width: 39px;
  aspect-ratio: 1;
  z-index: 900;
} 

#owl-head > div:after{
  left: auto;
  right: 10px;
  border-radius: 80px;
}

#ear1,
#ear2 {
  position: inherit;
  background-color: rgb(165, 108, 42);
  z-index: 100;
  color: rgb(165, 108, 42);
  width: 20px;
  padding: 5px;
}
#ear3, 
#ear4{
position: inherit;
background-color: rgb(150, 95, 20);
z-index: 100;
color:rgb(150, 95, 20);
width: 10px;
padding: 5px;
}



#ear1
{ 
  left: 5px;
  top:5px;
  transform: skewX(25deg) skewY(35deg);
}

#ear2 {
  top: 5px;
  left: 66px;
  transform: skewX(-25deg) skewY(-35deg);
  z-index: 100;
}

#ear3{
  left: 10px;
  top:5px;
  transform: skewX(25deg) skewY(35deg);
}

#ear4{
top: 5px;
left: 70px;
transform: skewX(-25deg) skewY(-35deg);
z-index: 100;
}

#owl-body {
  position: absolute;
  top: 180px;
  z-index: 850;
  width: 100px;
  aspect-ratio: .85;
  background:
  radial-gradient(35% 45%, hsl(57, 100%, 91%) 99%, rgb(0, 0, 0, 0)),
  radial-gradient(40% 45%, rgb(165, 108, 42) 99%, rgb(0, 0, 0, 0)),
  radial-gradient(50% 45%, rgb(150, 95, 20) 99%, rgb(0, 0, 0, 0));
  background-repeat: no-repeat;

}

#toe-1,
#toe-2,
#toe-3 {
  position: absolute;
  z-index: 990;
  width: 37px;
  margin: 0;
  aspect-ratio: .5;
  background: 
  radial-gradient(25% 30%, #f48d02 99%, rgb(0, 0, 0, 0))  90% 100%/60% 45% no-repeat,
  radial-gradient(25% 30%, #f48d02 99%, rgb(0, 0, 0, 0))  90% 100%/60% 45% no-repeat,
  radial-gradient(25% 30%, #f48d02 99%, rgb(0, 0, 0, 0))  90% 100%/60% 45% no-repeat; 

}
#toe-1{
  left: 225px;
  top: 225px;
  padding-bottom: 5px;
}
#toe-2{
  left:235px;
  top: 225px;
  padding-bottom:6px;
}
#toe-3{
  left:245px;
  top: 225px;
  padding-bottom:7px;
} 

#toe-4,
#toe-5,
#toe-6 {
  position: absolute;
  z-index: 990;
  width: 40px;
  aspect-ratio: .5;
  background: radial-gradient(25% 30%, #f48d02 99%, rgb(0, 0, 0, 0))  100% 100%/60% 45% no-repeat; 

}
#toe-4 {
  left: 255px;
  top: 220px;
  padding-bottom: 6px;
}
#toe-5 {
  left:265px;
  top: 220px;
  padding-bottom:6px;
}
#toe-6 {
  left:275px;
  top: 220px;
  padding-bottom:6px;
}

/* src: #1 Fall https://css-only.art/divtober-2023/  */
#fall > div {
  --c: #4f0905;
  width: 350px;
  aspect-ratio: 1;
  background: 
  conic-gradient(from -106deg at 100% 40%,var(--c) 1.5%,#0000 1.8%)48% 21%/29% 16%,
  conic-gradient(from -30deg at 100% 100%,var(--c) 1.5%,#0000 1.7%)47% 89%/16% 16%, 
  conic-gradient(from 270deg at 100% 100%,var(--c) 1.5%,#0000 1.7%)81% 42%/26% 21%,
  conic-gradient(from 246deg at 100% 0,var(--c) 2%,#0000 2.4%)46% 81%/21% 21%, 
  conic-gradient(from 222deg at 100% 0,var(--c) 2%,#0000 2.4%)56% 30%/40% 16%, 
  radial-gradient(125% 75% at 0% 0%,#0000 65%,var(--c) 66% 99%,#0000 )0% 82%/20% 25%, 
  radial-gradient(72% 61% at 79% 100%,#0000 100%,#66D0FF 0% 0%,#0000 )100% 39%/82% 50%, 
  radial-gradient(71% 61% at 80% 100%,#0000 90%,var(--c) 91% 99%,#0000 ) 50% 38%/88% 50%, 
  radial-gradient(75% 116% at 88% 100%,#0000 88%,var(--c) 89% 99%,#0000 ) 20% 43%/43% 32%;
  background-repeat: no-repeat;
  position: absolute;
  margin: auto auto auto 0;
  z-index: 3
}

#fall > div:before {
  content: "";
  position: absolute;
  width: 59%;
  height: 25%;
  border-top: 13px solid var(--c);
  border-radius: 50%;
  bottom: 2%;
  left: 3%;
  transform: rotate(7deg);
  filter: drop-shadow(51px -76px var(--c));
}


#bushes-1 {
  position: absolute;
  margin-top:70px;
  width:150px;
  height:60px;
  background:#1caa00;
  /* box-shadow: 10px 10px rgba(0,0,0,0.2); */
  border-radius:100px;
  left: 80px;
  top: -20px;
}

#bushes-1::after, 
#bushes-1::before{
   content:"";
   position:relative;
   display:inline-block;
   background:inherit;
   border-radius:inherit;
}
#bushes-1::after{
   width:50px;
   height:50px;
   top:10px;
   left:-80px;
}
#bushes-1::before{
   width:90px;
   height:90px;
   top: 10px;
   left:40px;
}

#bushes-2 {
  position: absolute;
  margin-top:70px;
  width:150px;
  height:60px;
  background:#1caa00;
  /* box-shadow: 10px 10px rgba(0,0,0,0.2); */
  border-radius:100px;
  left: 80px;
  top: 180px;
}

#bushes-2::after, 
#bushes-2::before{
   content:"";
   position:relative;
   display:inline-block;
   background:inherit;
   border-radius:inherit;
}
#bushes-2::after{
   width:50px;
   height:50px;
   top:-60px;
   left:-70px;
}
#bushes-2::before{
   width:90px;
   height:90px;
   top: -40px;
   left:40px;
}

#bushes-3 {
  position: absolute;
  margin-top:70px;
  width:80px;
  height:80px;
  background:#1caa00;
  /* box-shadow: 10px 10px rgba(0,0,0,0.2); */
  border-radius:100px;
  left: 120px;
  top: 185px;
}

#bushes-4 {
  position: absolute;
  margin-top:70px;
  width:100px;
  height:100px;
  background:#1caa00;
  /* box-shadow: 10px 10px rgba(0,0,0,0.2); */
  border-radius:100px;
  left: 110px;
  top: -60px;
}

#bushes-5 {
  position: absolute;
  margin-top:70px;
  width:80px;
  height:40px;
  background:#1caa00;
  /* box-shadow: 10px 10px rgba(0,0,0,0.2); */
  border-radius:100px;
  left: 220px;
  top: 130px;
}

#bushes-6 {
  position: absolute;
  margin-top:70px;
  width:80px;
  height:40px;
  background:#1caa00;
  /* box-shadow: 10px 10px rgba(0,0,0,0.2); */
  border-radius:100px;
  left: 290px;
  top: 60px;
}


#speech-bubble{
  background-color: white;
  padding: 10px;
  border-radius: 30px;
  flex-direction: column;
  position: absolute;
  left: 340px;
  top: 100px;
  z-index: 5;
  width: 40vw;
  min-height: 200px;
  max-height: 200px;
  text-align: center;
}

#speech-bubble,
.about {
  display: inline-block;
  background-color: white;
  padding: 10px;
  border-radius: 30px;
  flex-direction: column;
  position: absolute;
  left: 360px;
  bottom: 300px;
  z-index: 200;
  width: 400px;
  text-align: center;
}

#speech-bubble > a {
  word-spacing: 30px;
}

.speech-bubble-bottom {
  background-color: #ffffff;
  position: absolute;
  top: 100px;
  right: 405px;
  padding: 10px;
  height: 5px;
  transform: rotate(45deg) skew(10deg);
  z-index: 10;
}

.speech-bubble-bottom-about {
  background-color: #ffffff;
  position: absolute;
  top: 85px;
  right: 410px;
  padding: 10px;
  height: 5px;
  transform: rotate(45deg) skew(10deg);
  z-index: 10;
}

.link {
  flex-direction: row;
  color: black;
  text-decoration: none;
  border: none;
  width: 400px;
  z-index: 200;
}


.sun { /* Src: https://css-irl.info/heatwave-animated-sun-illustration/ */
  width: 40px;
  height: 40px;
  margin: 3px auto;
  position: relative;
  background: radial-gradient(transparent 50%, white), 
  radial-gradient(yellow, transparent 70%);
  -webkit-mask-image: radial-gradient(rgba(0, 0, 0, 1.0) 40%, transparent 65%);
  mask-image: radial-gradient(rgba(0, 0, 0, 1.0) 40%, transparent 65%);
  border-radius: 50%;
  z-index: 1;
}
  
  &::after,
  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 150px;
    height: 150px;
    transform-origin: center;
    border-radius: 50%;
    -webkit-mask-image: radial-gradient(rgba(0, 0, 0, 1.0) 40%, transparent 65%);
  mask-image: radial-gradient(rgba(0, 0, 0, 1.0) 40%, transparent 65%);
  }
  
  &::before {
    background: repeating-conic-gradient(from 0deg, yellow 0deg 20deg, transparent 20deg 40deg);
    animation: rotate 720s linear, scale 3s linear infinite;
  }
  
  &::after {
    background: radial-gradient(yellow, orange 27%, transparent calc(27% + 3px) 100%), radial-gradient(gold, transparent 70%), repeating-conic-gradient(from 0deg, gold 0deg 5deg, transparent 5deg 10deg);
    transform: rotate(15deg);
    animation: rotate 360s linear;
  }


@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes scale {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1.2);
  }
  40% {
    transform: scale(0.8);
  }
  60% {
    transform: scale(1.1);
  }
  70% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

#background-wrap { /* src: https://codepen.io/Mark_Bowley/pen/LYZEBq */
bottom: 0;
left: 0;
padding-top: 50px;
position: fixed;
right: 0;
top: 0;
z-index: 2;
}

/* KEYFRAMES */

@-webkit-keyframes animateCloud {
  0% {
      margin-left: -1000px;
  }
  100% {
      margin-left: 100%;
  }
}

@-moz-keyframes animateCloud {
  0% {
      margin-left: -1000px;
  }
  100% {
      margin-left: 100%;
  }
}

@keyframes animateCloud {
  0% {
      margin-left: -1000px;
  }
  100% {
      margin-left: 100%;
  }
}

/* ANIMATIONS */

.x1 {
-webkit-animation: animateCloud 35s linear infinite;
-moz-animation: animateCloud 35s linear infinite;
animation: animateCloud 35s linear infinite;

-webkit-transform: scale(0.65);
-moz-transform: scale(0.65);
transform: scale(0.65);
}

.x2 {
-webkit-animation: animateCloud 20s linear infinite;
-moz-animation: animateCloud 20s linear infinite;
animation: animateCloud 20s linear infinite;

-webkit-transform: scale(0.3);
-moz-transform: scale(0.3);
transform: scale(0.3);
}

.x3 {
-webkit-animation: animateCloud 30s linear infinite;
-moz-animation: animateCloud 30s linear infinite;
animation: animateCloud 30s linear infinite;

-webkit-transform: scale(0.5);
-moz-transform: scale(0.5);
transform: scale(0.5);
}

.x4 {
-webkit-animation: animateCloud 18s linear infinite;
-moz-animation: animateCloud 18s linear infinite;
animation: animateCloud 18s linear infinite;

-webkit-transform: scale(0.4);
-moz-transform: scale(0.4);
transform: scale(0.4);
}

.x5 {
-webkit-animation: animateCloud 25s linear infinite;
-moz-animation: animateCloud 25s linear infinite;
animation: animateCloud 25s linear infinite;

-webkit-transform: scale(0.55);
-moz-transform: scale(0.55);
transform: scale(0.55);
}

/* OBJECTS */

.cloud {
background: #fff;
background: -moz-linear-gradient(top,  #fff 5%, #f1f1f1 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(5%,#fff), color-stop(100%,#f1f1f1));
background: -webkit-linear-gradient(top,  #fff 5%,#f1f1f1 100%);
background: -o-linear-gradient(top,  #fff 5%,#f1f1f1 100%);
background: -ms-linear-gradient(top,  #fff 5%,#f1f1f1 100%);
background: linear-gradient(top,  #fff 5%,#f1f1f1 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff', endColorstr='#f1f1f1',GradientType=0 );

-webkit-border-radius: 100px;
-moz-border-radius: 100px;
border-radius: 100px;

-webkit-box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);
-moz-box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);
box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);

height: 120px;
position: relative;
width: 350px;
}

.cloud:after, .cloud:before {
  background: #fff;
content: '';
position: absolute;
z-indeX: -1;
}

.cloud:after {
-webkit-border-radius: 100px;
-moz-border-radius: 100px;
border-radius: 100px;

height: 100px;
left: 50px;
top: -50px;
width: 100px;
}

.cloud:before {
-webkit-border-radius: 200px;
-moz-border-radius: 200px;
border-radius: 200px;

width: 180px;
height: 180px;
right: 50px;
top: -90px;
}
