body {
    font-family: Arial;
    background-image: url(images/milky-way-starry-sky-night-sky-star-956999.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}

/* Home page */
.intro-heading {
    color: white;
    font-size: 100px;
    text-align: center;
}

.link-flexbox{
    display:flex;
    flex-direction: row;
    justify-content: center;
}

.menu-buttons{
    padding: 30px 60px;
    background: rgb(11, 18, 39);
    border: none;
    margin: 20px;
    border-radius: 50px;
    font-size: 40px;
    color: white;
    cursor: pointer;
}

.menu-buttons:hover {
    transition: 0.8s;
    opacity: 0.8;
}

/* About page */
.about-me ,
.first-paragraph {
        color: white;
        font-size: 50px;
        text-align: center;
    }